.landing {
  background-blend-mode: luminosity;
  background-image: url('../img/login_bg.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
  min-height: 100vh;
}

.btn-landing {
  --bs-btn-bg: #109210;
  --bs-btn-border-color: #109210;
  --bs-btn-hover-bg: #43be43;
  --bs-btn-hover-border-color: #43be43;
  --bs-btn-active-bg: #206520;
  font-weight: 700;
}
